*.log
External/
*.sdf
*.suo
*.opensdf
Build/VCBuild/
Build/ipch/
build_*.log
build_*.wrn
build_*.err
buildchk.*
buildfre.*
Build/swum-cache.txt
*.tlog/
core/
.untrackedPathsMap.ini
unittest/*/*.dpl.*
unittest/*/*.dpl
unittest/*/*.baseline.rebase
unittest/*/*.bc
unittest/NativeUnitTests/profilecachetest*.out
unittest/*/testout*
.*.swp
