*.log
/External
/tools/PerfTester
*.sdf
*.suo
*.opensdf
*.user
Build/.vs/
Build/VCBuild/
Build/ipch/
build_*.log
build_*.wrn
build_*.err
buildchk.*
buildfre.*
Build/swum-cache.txt
*.tlog/
.untrackedPathsMap.ini
unittest/*/*.dpl.*
unittest/*/*.dpl
unittest/*/*.baseline.rebase
unittest/*/*.bc
unittest/NativeUnitTests/profilecachetest*.out
unittest/*/testout*
.*.swp
sd.ini
*.vcxproj.user
*.pyc
__pycache__/*
*.orig
initenv.cmd
tools/Exprgen
.project
