<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- !! Keep version number in sync with "Build\Chakra.Build.Git.Default.props" !! -->
  <package id="IELibs" version="1.0.35" />
  <package id="RazzleTools" version="1.0.35" />
  <package id="SDPublics" version="1.0.37.2" />
  <package id="ProjectionABIs" version="1.0.35" />
</packages>
