<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- !! Keep version number in sync with "Build\Chakra.Build.Git.Default.props" !! -->
  <package id="IELibs" version="2.0.12" />
  <package id="RazzleTools" version="2.0.12" />
  <package id="SDPublics" version="2.0.12" />
  <package id="ProjectionABIs" version="2.0.12" />
</packages>
