<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- !! Keep version number in sync with "Build\Chakra.Build.Git.Default.props" and tools\runjsrttests.cmd (RazzleTools) !! -->
  <package id="IELibs" version="1.0.19" />
  <package id="RazzleTools" version="1.0.19" />
  <package id="SDPublics" version="1.0.19" />
  <package id="ProjectionABIs" version="1.0.18" />
</packages>
