<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChakraUnitTestTelemetry.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <ChakraUnitTestTelemetry.Settings>
            <setting name="SnapBranchesToScan" serializeAs="String">
                <value>FBL_IE_SCRIPT_DEV;FBL_IE_SCRIPT;FBL_IE_DEV2_DEV;FBL_IE_MC;FBL_IE_MC_DEV;WINBLUE_RTM_IE;WINBLUE_GDR_IE</value>
            </setting>
            <setting name="SnapLogsRootFolder" serializeAs="String">
                <value>\\iesnap\queue</value>
            </setting>
            <setting name="UnhandledExceptionFolder" serializeAs="String">
                <value>\\bpt-scratch\UserFiles\cmorse\Tools\ChakraUnitTestTelemetry\Unhandled Exceptions</value>
            </setting>
            <setting name="UserLogsCopyToFolder" serializeAs="String">
                <value>\\bpt-scratch\UserFiles\cmorse\Tools\ChakraUnitTestTelemetry\UserLogs</value>
            </setting>
            <setting name="MaxLogQueueEntryCount" serializeAs="String">
                <value>2000000</value>
            </setting>
            <setting name="MaxUploadAttemptCount" serializeAs="String">
                <value>3</value>
            </setting>
        </ChakraUnitTestTelemetry.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUnitTestTelemetryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://chakrawebserver/telemetry/UnitTestTelemetryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUnitTestTelemetryService"
                contract="UnitTestTelemetryServiceReference.IUnitTestTelemetryService"
                name="BasicHttpBinding_IUnitTestTelemetryService" />
        </client>
    </system.serviceModel>
</configuration>